.dropdown-menu {
  border: none;
}

.navbar-nav > .user-menu .user-image {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

.user-footer {
  border: 1px solid lightgray;
}

@media(max-width: 767px) {
  .main-header .logo, .main-header .navbar {
    width: 100%;
  }
  .main-header .navbar {
    margin-left: 0;
  }
  .navbar-nav > .user-menu .user-image {
    width: 25px;
    height: 25px;
    margin-top: -8px;
  }
}