.btn-panel {
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.panel.box .box-header{
  box-shadow: 0px 5px 10px lightgrey;
}

.btn-panel .btn-group {
  margin-right: initial;
}

.btn-panel button, .btn-panel > a.btn {
  margin: 0 5px 5px 5px;
  width: 100px;
}

.btn-panel .btn>i.fa {
  margin-right: 5px;
}

.btn-panel a {
  color: black;
}

.btn-panel a.disable, .btn-panel a.disable:hover {
  color: rgba(119, 119, 119, .7);
  background: transparent;
}

.timeline .timeline-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

div.timeline-body li>i.fa {
  margin: 0 5px;
}

.basic-info-title {
  vertical-align: middle;
  text-align: center;
  max-width: 100px;
  word-wrap: break-word;
  background: rgba(0, 0, 0, .1);
  padding: 5px;
  font-weight: bolder;
}

.logs-panel {
  padding: 10px;
  background: rgba(34, 45, 50, .7);
  color: lightsteelblue;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.nav-tabs-custom > .nav-tabs.nav-stacked > li.active {
  border-top: none;
  border-left: 3px solid #3c8dbc;
  border-right: 1px solid white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.nav-tabs-custom > .nav-tabs.nav-stacked > li {
  margin-right: 0px;
}

.tab-content {
  margin-left: -1px;
  border-left: 1px solid lightgray;
  padding-left: 15px;
}

p.title {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
