.btn-panel {
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tail-select-panel {
  max-width: 200px;
}

.logs-panel {
  background: rgba(34, 45, 50, .7);
  color: lightsteelblue;
}

.logs-panel[data-has-log] {
  padding: 10px;
}

.logs-panel >p {
  margin-bottom: 5px;
  word-break: break-all;
  word-wrap: break-word;
  padding-left: 1em;
  text-indent: -1em;
}