.sidebar-menu>li.active.hide-border>a {
  background: transparent;
  border-left-color: transparent;
}

.sidebar-menu {
  margin-bottom: 65px;
}

.bottom-logo {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  background: #222d32;
  align-items: center;
  color: white;
}

.bottom-logo > img {
  width: 40px;
  height: 40px;
  margin-right: initial;
}

.bottom-logo p {
  white-space: nowrap;
  margin: 0;
}

.bottom-logo .text-panel {
  margin-left: 10px;
}